@font-face {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400,300,600,700,800;
src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/fonts/Open_Sans/*) format('woff');
}

font-family: 