<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-default" role="navigation">
			    <div class="container-fluid">
				    <div class="navbar-header">
				        <a class="navbar-brand" href="#">Bad Coder's Blog</a>
				    </div>
				    <div>
				        <ul class="nav navbar-nav">
				            <li class="active"><a href="/">首页</a></li>
				            <li><a href="/blogs">文章归档</a></li>
				            <li><a href="/books">阅读书单</a></li>
				            <li><a href="/about">关于作者</a></li>
				        </ul>
				    </div>
			    </div>
			</nav>
			{{ content }}
		</body>
	</html>